body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: small;
    margin: 0;
    background-color: #f0f0f0; /* Optional: background color */
}
p {
    margin: 1px
}

.main{
    display:grid;
    grid-template-columns: repeat(1, 1fr); /* 5 columns */
    grid-template-rows: repeat(6, auto);   /* 4 rows */
    border-radius: 1px;
    align-self: center;
    justify-self: center;
}

#popupText {
    color:rgb(0, 0, 0); cursor:pointer;
}

#popupText:hover {
    font-weight: bold; /* Bold text on hover */
    text-decoration: underline; /* Underline on hover */
    color:rgb(0, 94, 255);
}

#results, #played, #popup-container {
    display: grid;
    width: 100%; /* Adjust width as needed */
    margin: 0 auto;
    text-align: center;
    justify-content: center; /* Center grid items */
    font: #ffffff;
}

#results {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 2px;
}

#played {
    width: 80%;
    padding: 25px;
}

#popup {
    background-color: #cacacafd; /* Optional: add a background color */
    padding: 10px;          /* Optional: add some padding */
    border-radius: 20px;     /* Optional: add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}
#popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 80%;
    margin: 0 auto;
}

#popup {
    background-color: #cacacafd;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#continue-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4c66af;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}


#continue-button:hover {
    background-color: #5945a0; /* Optional: button hover color */
}

.table-container{
    background-image: url('stock\ photo.jpg');
}

.info-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px; /* Adjust the gap between cards as needed */
    border-radius: 20px; 
    color: #000000fd;
    margin-bottom: 0px;
}
.info-bar * {
    /* Your styles here */
    color: #000000;
  }
  
@media (max-width: 768px) {
    .info-bar {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

.second-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px; /* Adjust the gap between cards as needed */
    border-radius: 20px; 
    color: #84c565fd;
}
.second-row-item {
    
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.second-row-item:nth-child(1) {
    grid-column: span 1; /* First item spans 1 column */
}

.second-row-item:nth-child(2) {
    grid-column: span 3; /* Second item spans 3 columns */
}

.second-row-item:nth-child(3) {
    grid-column: span 1; /* Third item spans 1 column */
}

.second-row-cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

#trick-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px; /* Adjust the gap between cards as needed */
    border-radius: 20px; 
    color: #84c565fd;
}

.trick-card-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease;
}

.popups-and-overlays{
    display: flexbox;
    gap: 10px; /* Adjust the gap between cards as needed */
    border-radius: 20px; 
    color: #000000fd;
    align-items: center;
    justify-content: center;
}

#blueTeam-scores {
    color: blue;
}

#redTeam-scores {
    color: red;
}

#blue-team-tricks {
    color: blue;
}

#red-team-tricks {
    color: red;
}

#trumps-are{
    color: black;
}

.blue-team {
    display: flex;
    color: blue;
}

.red-team {
    display: flex;
    color: red;
}




#teammate-cards img {
    width: 60px;
    margin: 1px;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

#player-cards {
    position: relative;
    width: fit-content; /* Container adjusts to the content width */
    height: fit-content;
}

#player-cards img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px; /* Adjust the card size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove any margin */
    transition: transform 0.3s ease;
}
.highlight {
    font-weight: bold;
    color: #B22222;
}

/* Adjust the positioning and rotation of each card */
#player-cards img:nth-child(1) {
    transform: rotate(-30deg) translateX(-100%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(1):hover {
    transform: rotate(-30deg) translateX(-100%) translateY(-25px);
}

#player-cards img:nth-child(2) {
    transform: rotate(-24deg) translateX(-80%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(2):hover {
    transform: rotate(-24deg) translateX(-80%) translateY(-25px);
}

#player-cards img:nth-child(3) {
    transform: rotate(-18deg) translateX(-60%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(3):hover {
    transform: rotate(-18deg) translateX(-60%) translateY(-25px);
}

#player-cards img:nth-child(4) {
    transform: rotate(-12deg) translateX(-40%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(4):hover {
    transform: rotate(-12deg) translateX(-40%) translateY(-25px);
}

#player-cards img:nth-child(5) {
    transform: rotate(-6deg) translateX(-20%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(5):hover {
    transform: rotate(-6deg) translateX(-20%) translateY(-25px);
}

#player-cards img:nth-child(6) {
    transform: rotate(0deg) translateX(0%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(6):hover {
    transform: rotate(0deg) translateX(0%) translateY(-25px);
}

#player-cards img:nth-child(7) {
    transform: rotate(6deg) translateX(20%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(7):hover {
    transform: rotate(6deg) translateX(20%) translateY(-25px);
}

#player-cards img:nth-child(8) {
    transform: rotate(12deg) translateX(40%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(8):hover {
    transform: rotate(12deg) translateX(40%) translateY(-25px);
}

#player-cards img:nth-child(9) {
    transform: rotate(18deg) translateX(60%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(9):hover {
    transform: rotate(18deg) translateX(60%) translateY(-25px);
}

#player-cards img:nth-child(10) {
    transform: rotate(24deg) translateX(80%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(10):hover {
    transform: rotate(24deg) translateX(80%) translateY(-25px);
}

#player-cards img:nth-child(11) {
    transform: rotate(26deg) translateX(100%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(11):hover {
    transform: rotate(26deg) translateX(100%) translateY(-25px);
}

#player-cards img:nth-child(12) {
    transform: rotate(30deg) translateX(120%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(12):hover {
    transform: rotate(30deg) translateX(120%) translateY(-25px);
}

#player-cards img:nth-child(13) {
    transform: rotate(36deg) translateX(140%);
    transition: transform 0.3s ease;
}

#player-cards img:nth-child(13):hover {
    transform: rotate(36deg) translateX(140%) translateY(-25px);
}





#trick-cards img {
    width: 60px;
    margin: 1px;
    max-width: 100%;
    height: auto;
}

#opponent1-cards img {
    width: 60px;
    margin: 1px;
    max-width: 100%;
    height: auto;
    transform: rotate(90deg);
    justify-content: center;
    align-content: center;
}

#opponent2-cards img {
    width: 60px;
    margin: 1px;
    max-width: 100%;
    height: auto;
    transform: rotate(90deg);
    justify-self: center;
    align-self: center;
}

.hidden-card img {
    width: 60px;
    margin: 1px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
}

/* Basic styling for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
